<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/styles.css">
    <title>cslckrmngr</title>
</head>
<body>

    <div class="loader">
        <div class="boot-ring"></div>
        <div class="boot-text">
            <span>INITIALIZING</span>
            <span class="title">cslckrmngr</span>
        </div>
    </div>


    <div class="menu">
        <aside class="sidebar">
            <h2>Computers</h2>
            <ul class="computer-list" aria-live="polite">
            
            </ul>
        </aside>

        <div class="display-area">
            <div class="display-box">
                <p class="display-text">No Display</p>
            </div>

            <div class="logs">
                <div class="top">TERMINAL <span class="options">⋯</span></div>
                    
                <div class="log">
                    
                </div>
            </div>
        </div>
    </div>

    <script src="resources/script.js"></script>
</body>
</html>